{% extends "layout.html" %}

{% block body %}
    <div class="masthead">
      </div>
      <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron">
          <h1>Portia's Portfolio</h1>
        <p class="lead">A glimpse of some of the projects I'm working on</p>
        <div class ="btn-group btn-lg btn-success">
        <p><a class="btn btn-lg btn-success" href="#">Get started today</a></p>
        <ul>
        <li><a href="{{ url_for ('blog')}}">Blog</a></li>
        <li><a href="{{ url_for('about')}}">About</a></li>
        </ul>
     </div>
     </div>
{% endblock %}
