<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Pkafei Talks Tech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pkafei, plburton">
    <meta name="keywords" content="pkafei, plburton, flask, blog">
    <meta name="author" content="pkafei, plbuton, Portia Burton">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/home/shikongle/Desktop/Y/Blog/static/css/justified-nav.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    <! --Custom Stylesheet for Flask --!>

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
      <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-44383328-1', 'heroku.com');
            ga('send', 'pageview');

    </script>
</head>
<body>
  <div class = "container">

      {% block body %}{% endblock %}
  </div>
</body>
        <hr>

        <footer class="footer">
            <p>&copy; A Pkafei Production(built lovingly with Flask)</p>
        <a href="{{ url_for ('base')}}" class ="btn btn-large btn-primary">Home</a>
        <a href="{{ url_for('about')}}" class ="btn btn-large btn-danger">About</a>
        <a href="{{ url_for('graphs')}}" class ="btn btn-large btn-success">Graphs</a>
        <a href="{{ url_for('tech')}}" class ="btn btn-large btn-warning">Tech</a>
        <a href="{{ url_for ('resources')}}" class ="btn btn-large btn-info">Resources</a>
        
        </footer>

    </div>
      <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
  </body>
</html>
