{% extends "layout.html" %}
{% block body %}
<h2>Hacking Helpers</h2>
<a href="http://www.bentobox.io/">Bentobox</a>
<p class= "lead"> Great go-to place for people curious about the difference between flask, and bottle, php and go. </p>

<a href="https://developer.mozilla.org/en-US/">Mozilla Developer</a>
<p class = "lead">The big-box store of information for developers. This site has everything you need- in bulk. </p>
<hr>
<h2>Breaking into the Field of Tech</h2>
<a href="https://www.hackerschool.com/">Hacker School</a>
<p class= "lead"> Free wheeling 3 month hacker school. Get an opportunity to work on a project of your choosing with brilliant classmates in NYC.</p>

<a href="http://gnome.org/opw/">Outreach Program for Women</a>
<p class= "lead">Program for women interested in breaking into the world of open source. </p>

{% endblock %}
