<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
This is a skeleton html file that you can use to get you started on each new
HTML project

-->
<html>

<head>
<title>My Title</title>
<--local script -->
<script src="http://d3js.org/d3.v3.js"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/hello.js') }}"></script>

</head>

<body>

<p>This is the first paragraph in the body of your new HTML file!</p>

</body>
</html>
